h1 {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  letter-spacing: -2px;
  font-size: 32px;
}

.banner {
  width: 300px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.logo {
  background-color: #FADA15;
  margin-left: 35px;
  margin-right: 130px;
  padding-inline: 25px;
  margin-top: 113%;
  position: relative;
  z-index: 10;
}

.yellow-background, .warsaw, .madrid, .berlin {
  width: 300px;
  height: 600px;
  position: absolute;
  overflow: hidden;
}

.yellow-background {
  background-color: #FADA15;
  z-index: 9;
}

.white-background {
  position: absolute;
  width: 300px;
  height: 600px;
  background-color: white;
  z-index: 8;
}

.warsaw {
  background: url("https://rekrutacja.webdeveloper.rtbhouse.net/files/warsaw.jpg") no-repeat;
  background-size: cover;
  z-index: 5;
}

.madrid {
  background: url("https://rekrutacja.webdeveloper.rtbhouse.net/files/madrid.jpg");
  background-size: cover;
  z-index: 6;
  opacity: 0;
}

.berlin {
  background: url("https://rekrutacja.webdeveloper.rtbhouse.net/files/berlin.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 7;
  opacity: 0;
}

.infos {
  width: 300px;
  height: 600px;
  position: absolute;
  background-color: transparent;
  z-index: 10;
}